<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Chat</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="stylec.css">
  <link rel="stylesheet" href="st.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>

<body>
  <div class="boody" style="color: black; background: blueviolet">
    <nav>
      <div class="menu-item"><a href="" class="lien" >Home</a></div>
      <div class="menu-item"><a href="" class="lien" >About</a></div>
      <div class="menu-item"><a href="" class="lien" >Services</a></div> 
      <div class="menu-item"><a href="" class="lien" >Contact</a></div>  
    </nav>
  </div>
  <div class="jhdjkzaduz" style="margin: 100px">
    <% conseils.forEach(job => { %>
      <div class="master">
        <h1><%= job.title %> </h1>
        <img src=<%= job.image %> alt="">
        <p>
          <%= job.description %>
        </p>
      </div>
    <% }) %>
</div>

  </div>
  <div class="messages">
    <div class="container">
      <div class="chat_box">
        <div class="head">
          <div class="user">
            <div class="avatar">
              <img src="https://picsum.photos/g/40/40" />
            </div>
            <div class="name">Moi</div>
          </div>
        </div>
        <div class="body">
          <div class="incoming">
            <div class="bubble">
              <p>test lui</p>
            </div>
            <div class="bubble">
              <p>t2</p>
            </div>
          </div>
          <div class="outgoing">
            <div class="bubble lower">
              <p>test me</p>
            </div>
            <div class="bubble">
              <p>t2</p>
            </div>
          </div>
        </div>
        <div class="foot">
          <input type="text" class="msg" placeholder="Type a message..." />
          <button type="submit"><i class="fas fa-paper-plane"></i></button>
        </div>
      </div>
    </div>
  </div>
  <script src="script.js"></script>
</body>

</html>