<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylec.css">
    
    <title>Accueil</title>
</head>
<body>
    <div class="content">
            <div class="partie1">
                <span><small>C</small>onseil<small>S</small>Santé</span>
                <nav>
                    <div class="menu-item"><a href="" class="lien" >Home</a></div>
                    <div class="menu-item"><a href="" class="lien" >About</a></div>
                    <div class="menu-item"><a href="" class="lien" >Services</a></div> 
                    <div class="menu-item"><a href="" class="lien" >Contact</a></div>  
                </nav>
                <div class="menu-item consul"><a href="/signup" class="okoko">Connexion</a></div> 
            </div>
        <div class="cland">
            <h1>Conseil sur la nutition vous êtes au bon endroit</h1>
            <p align="center" style="color: white">
              Conseil Santé est une société de services spécialement dédiée au secteur de la santé qui réalise la plus grande partie de son activité à l'international.
              Depuis sa création en 1987, Conseil Santé a mené à bien plus de 350 contrats dans le monde entier, principalement sur financements des bailleurs de fonds bi et multilatéraux.
              L'expérience et le savoir-faire de la société acquis à la faveur de ces interventions sont reconnus par l'ensemble de ses partenaires.
            </p>
        </div>
    </div>
    <script src="index.js"></script>
</body>
</html>